body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    background: #546e7fcc;
    padding: 20px;
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

img {
    width: 100px;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #384e5ccc;
    color: white;
    font-size: 16px;
    cursor: pointer;
    animation: pulse 2s infinite;
    transition: background 0.3s ease;
}

button:hover {
    background: #0055a5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Ripple effect */
.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 0.3s linear;
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

/* Pulse animation */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 51, 102, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(0, 51, 102, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 51, 102, 0);
    }
}


body, .main {
    background: linear-gradient(45deg, rgba(2,0,36,1) , rgba(9,70,121,1), rgba(0,212,255,1));
    background-size: 400% 400%;
    animation: gradientBG 8s ease infinite; /* Changed from 15s to 8s */
    /* Keep your existing body styles */
    color: #FFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}